- model_class = Bike
.page-header
  %h1= "#{@brand.try(:name) || @type.try(:name) || ''} Bikes"
%table.table.table-striped
  %thead
    %tr
      %th Bike
      %th Price
      %th Brand
      %th Description
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @bikes.each do |bike|
      %tr
        %td= link_to bike.name, bike_path(bike)
        %td= bike.data['price']
        %td= bike.brand.name
        %td= bike.data['description']
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_bike_path(bike), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), bike_path(bike), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_bike_path, :class => 'btn btn-primary'
