- model_class = Bike
.page-header
  %h1= "#{@brand.try(:name) || @type.try(:name) || ''} Bikes"
%table.table.table-striped
  %thead
    %tr
      %th Bike
      %th Price
      %th Brand
      %th Description
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    = render @bikes
= paginate @bikes

= link_to t('.new', :default => t("helpers.links.new")), new_bike_path, :class => 'btn btn-primary'
