- @title = "#{params[:q]} #{@brand.try(:name) || @type.try(:name) || ''} Bikes :: Best Price & Reviews"
.row
  .col-md-12
    .page-header
      %h1= "#{@brand.try(:name) || @type.try(:name) || ''} Bikes"
.row
  =render @bikes

.row.text-center
  .col-md-12
    = paginate @bikes
